.wrapper {
  width: 972px;
  background-color: #145274
}
.header {
  width: 970px;
  margin-bottom: 40px;
}
.header img {
  margin: 20px 20px;
  vertical-align: bottom;
}
#right-bar {
  width: 400px;
  vertical-align: bottom;
  margin: 50px 0 0 150px;
}
#submitbuttom, .header p, .navigator-tab a,
.main-content, .left-navigator a {
  color: white;
}
.display-inline {
  display: inline-block;
  vertical-align: top;

}
.alignment {
  text-align: center;
}
.search-input {
  font-size: 15px;
  padding: 8px;
  border-style: groove;
  color: lightgray;
}
#submitbuttom {
  font-size: 20px;
  background-color: #145274;
  border: 1px solid white;
  border-radius: 3px;
}
.header a {
  color: #dcbd53;
  font-size: 18px;
}
.header p {
  font-size: 18px;
  margin-bottom: 25px;
}
.search-bar {
  background-color: #444444;
  display: inline;
  padding: 28px 40px;
  border-radius: 10px;
}
.navigator-tab {
  width: 840px;
  background-color: #2d7ca9;
  padding: 8px 8px 15px 8px;
  margin-left: 80px;
  border-radius: 5px;
}
.navigator-tab a {
  text-decoration: none;
  padding: 30px;
  font-size: 20px;
}
.left-navigator {
  width: 180px;
  margin: 13px 0 0 80px;
}
.left-navigator a {
  display: inline-block;
  margin-left: 7px;
}
.left-navigator p {
  color: #dcbd53;

}
.main-content {
  width: 650px;
  margin-left: 10px;
  padding: 0 15px 10px 10px;
  box-sizing: border-box;
}
.main-content p {
  margin: 0, 10px, 0, 10px;
}
.zen-message {
  color: #dcbd53;
  font-size: 25px;
  font-style: italic;
  margin:8px;
}
#first-tab {
  margin-left: 53px;
}
#third-tab {
  margin-left: 5px;
}

#fifth-tab {
  margin-left: 47px;
}

#sixth-tab {
  margin-left: 36px;
}

#seven-tab {
  margin-left: 65px;
}
.bottom-info {
  width: 970px;
  background-color: white;
  padding: 15px;
}
.left-bottom-info, .right-bottom-info {
  width: 400px;
  border-top: 2px solid #68a9d2;
  background-color: white;
  padding: 5px 71px 0 28px;
  box-sizing: border-box;
}
.left-bottom-info {
  margin-left: 100px;
}
h4 {
  font-size: 18px;
  margin: 0;
}
.left-bottom-info p,  .right-bottom-info p{
  margin: 7px 4px 4px 4px;
}
.left-bottom-info li a, .right-bottom-info li a{
    color: #84b9d9;
    margin-bottom: 5px;
}
.left-bottom-info li, .right-bottom-info li {
  display: block;
  margin-bottom: 5px;
}
.left-bottom-info ul {
  list-style: none;
  margin: 4px;
  list-style: square inside;
}
.footer {
  width: 970px;
  padding: 50px 100px 0px 100px;
  box-sizing: border-box;
}
.footer a {
text-decoration: none;
color: #63a4cc;
font-size: 22px;
margin-left: 50px;
}
.footer p {
  color: #63a4cc;
}
